
# UNIX is to run application with
:run_as: nagios

# RVM version
:rvm: ruby-1.9.3-p327

# This log file should be accessible with ID above
:log: /var/log/nagios3/nagira.log


#
# Hosts configuration for the application.
# Hosts list will be rerived from Nagira API on start
#
:nagios:
  :hostgroups: [membase_masters, membase_slaves]
  #
  # Following hosts will be excluded from monitoring.
  #
  :ignore_hosts:
    - dummy.moria.local
  :erb: erb/couchbase.cfg.erb

  :api:
    :hostname: master.gree-zj.prod
    :port: 4567

#
# Buckets to monitor. One of the following should be specified: either
# list of buckets (manual configuration) or source server to connect
# to to get list of buckets. In latter case will be monitoring all
# buckets.
#
# Example
# ===========
# :buckets:
#   :source: membase1.gree-zj.prod
#   :list:
#      - default
#      - test
:buckets:
  :source: membase1.gree-zj.prod

